@import url("https://fonts.googleapis.com/css2?family=Huninn&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Onest:wght@100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  /* height: 100%; */
  background-color: #f0f0f0;
  font-family: "Lato", sans-serif;
  cursor: default;
}

@theme {
  --font-main: "Lato", sans-serif;
  --primary-text: #5a5a5a;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility flex-center-hor {
  display: flex;
  align-items: center;
}

@utility flex-center-ver {
  display: flex;
  justify-content: center;
}

/* @utility h-per-4 {
  height: 1rem;
}

@utility h-per-3 {
  height: 0.8rem;
} */

/* Default utility for button */
@utility p-button {
  padding: 0.5rem 1rem;
}
